@import "tailwindcss";

body { font-family: 'Caveat', cursive; }
h1, h2, label { font-family: 'Caveat', cursive; }


/* src/styles/global.css */
@import "tailwindcss";

@layer components {
  .cut-1 {
    clip-path: polygon(2% 4%, 30% 0%, 68% 2%, 100% 5%, 98% 35%, 100% 70%, 96% 100%, 60% 98%, 25% 100%, 0% 90%, 3% 50%);
  }
  .cut-2 {
    clip-path: polygon(3% 0%, 100% 8%, 97% 100%, 0% 95%);
  }
  .cut-3 {
    clip-path: polygon(0% 8%, 92% 0%, 100% 95%, 5% 100%);
  }
}